.nav{
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
  padding-left: 15px;
  background-color: black

}

.nav-logo{
  /* position: fixed; */
  left: 10px;
  width: 80px;
  object-fit: contain;
  padding-top: 10px;
}

/* .nav-avatar{
  position:fixed;
  right: 15px;
  width: 10%;
  object-fit: contain;
  top:2.5%;
} */

.nav-text{
  margin-left: 15px;
  color: white;
  text-shadow: 1.5px 1.5px #960303;
}

.nav-text-signout{
  position:fixed;
  right: 15px;
  width: 10%;
  object-fit: contain;
  margin-left: 15px;
  color: rgb(250, 246, 246);
  text-shadow: 1.5px 1.5px #355e01;
}

.nav-no-user{
  position: fixed;
  top: 20px;
  display: flex;
  width: 98%;
  /* justify-content: space-between; */
  padding-left: 15px;
}



